@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
/* 
for heading -> font-family: 'Sevillana', cursive;

*/
* {
    margin: 0;
    padding: 0;
}
.container {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 20px;
}
h1 {
    width: 100%;
    text-align: center;
    font-family: 'Sevillana', cursive;
    letter-spacing: 15px;
    font-size: 3rem;
    color: lightcoral;
}
.login-container  {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    align-items: flex-start;
    padding: 20px;
    row-gap: 20px;
}
button {
    display: block;
    margin: 0 auto;
    padding: 10px 50px;
    border: none;
    outline: none;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 20px;
    width: 40%;
    background-color: #cca0a0;
    color: lightblue
}
button:hover {
    transition: 300ms all;
    background-color: #cca0a0d8;
}
#main-container {
    display: flex;
    height: 70vh;
    align-items: center;
}
label {
    margin: 0 auto;
    color: lightcoral;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}
input {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    outline: none;
    border: 1px solid lightblue;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 5px 10px;
}
label {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.5rem;
    align-self: flex-end;
    border-bottom: 1px solid lightblue;
    padding-bottom: 5px;
    display: inline-block;
    width: 100%;
}
body {
    background: #DAE2F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}